<h1>よく使われているタグ</h1>
<span>タグ左側クリックでタグ検索、右部クリックでフォロー有無を切り替えます。</span>

<div>
  <% @hot_tags.each do |tag| %>
    <% tag = tag[0] %>
    <div id="follow_button_<%= tag %>", style="padding: 2px; display:inline-block;">
      <%= render partial: 'follow', locals: { target: tag } %>
    </div>
  <% end %>
</div>