    <div>
      <% if @youtube_movies.present? %>
 <table class="result_table">
    <thead>
      <tr>
        <th>動画サムネイル</th>
        <th>動画タイトル</th>
        <th>視聴回数</th>
        <th>付箋</th>
      </tr>
    </thead>
    <tbody>
      <% @youtube_movies.each do |movie| %>
      <%# debugger %>
        <tr>
        <%# debugger %>
          <!--動画サムネイル-->
          <td>
            <%= image_tag movie.snippet.thumbnails.medium.url %>
          </td>

          <!--動画タイトル-->
          <td>              
            <%= link_to movie.snippet.title, "https://www.youtube.com/watch?v=#{movie.id.videoId}", target: :_blank %>
          </td>

          <!--金額-->
          <td>
            <%#= movie['itemPrice'].to_s(:delimited) %>
          </td>

          <!--ブックマークボタン-->
          <td>
          </td>
        </tr>
      <% end %>
    </tbody> 
  </table> 
<% end %>
    </div>