<% path = Rails.application.routes.recognize_path(request.referer) %>
<div class="row">
  <div class="col-offset-6">
    <h1>プロフィール編集</h1>
    <p>あなたの紹介を設定しましょう。<br>
    あなたのプロフィールを見た誰かがあなたに興味を持つかもしれません。
    </p>
  </div>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <%= @user.errors.count %>件のエラーがあります。
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row col-md-6">
    <%= render 'profile_form' %>
    <% if path[:action] == 'new' %>
    <%= link_to '今は登録しない >>', user_introductions_path(current_user) %>
  <% end %>
  </div>
</div>