<% provide(:button_text, '更新') %>
<h1>ユーザー情報編集</h1>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <%= @user.errors.count %>件のエラーがあります。
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <%= render 'form'%>
</div>
<%= link_to "アカウント削除", @user ,method: :delete ,class: "btn btn-danger btn-sm pull-right", data: { confirm: "アカウントに加え、以下が削除されます。\r\n\r\n・投稿した紹介\r\n・このアカウントで行なったいいね\r\n\r\n【注意】削除後は元に戻せません。削除しますか？", cancel: 'やめる', commit: '削除する' }, title: '削除確認' %>