<h1>ユーザー一覧</h1>
<%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %>
      <%= link_to "削除", user ,method: :delete %> </li>
    <% end %>
  </ul>
  </table>
  <%= will_paginate %>