<% provide(:title, @user.name) %>

<div class="row">
  <h1>プロフィール</h1>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered">
      <tr>
        <th class="plofile_table_th"><%= User.human_attribute_name :profile %></th>
        <td><%= @user.profile %></td>
      </tr>
    </table>
    <%= link_to "プロフィール編集", edit_profile_user_path(@user), class: "btn btn-primary" %>
  </div>    
</div>
