<% provide(:button_text, '更新') %>
<% provide(:url, user_introduction_path) %>

<h1>紹介内容編集</h1>

<% if @introduction.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <%= "#{@introduction.errors.count}件のエラーがあります。" %> 
    <ul>
      <% @introduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'introductions/form' %>
  </div>
</div>