@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
  li {
    display: block;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

li {
  display: block;
}
// .header-list {
//   // color: white !important;
//   // font-weight: bold;
// }

select {
  height: 34px;
}
.header-list:hover {
  color: white !important;
  font-weight: bold;
}

// .navbar-inverse .navbar-nav > .open > a:focus {
//   background-color: teal;
// }
  
li .list-label {
  background-color: lightgray;
  padding: 3px 20px;
}

.dropdown-menu:focus {
  background-color: teal;
}

.dropdown-menu:activate {
  background-color: teal;
}
/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  font-style: italic;
  letter-spacing: -1px;
  padding-top: 9px;
  /*font-weight: bold;*/
}

#logo:hover {
  color: gray;
  text-decoration: none;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// フォローボタン

.btn_left {
  border-radius: 10px 0px 0px 10px;
  border-width: 1px 0px 1px 1px;
  margin-right: -2px;
}

.btn_right {
  border-radius: 0px 10px 10px 0px;
  border-width: 1px 1px 1px 0px;
  margin-left: -2px;
}

.follow {
  transform:scale(1.5);
  vertical-align: middle;
}

.notfollow {
  transform:scale(1.5);
  vertical-align: middle;
}

// 紹介ページ

.introduction_title {
  border-bottom-style: solid;
  font-size: 30px;
  padding-top: 10px;
}

.introduction_caption {
  color: gray;
  font-size: 20px;
  font-style: italic;
  padding-top: 5px;
}

.introduction_search {
  padding-top: 20px;
}

.good-button {
  transform:scale(2.0);
  margin: 10px;
  color: red;
}

.good-point {
  font-size: 20px;
}
// 共通
.page_title {
  display:inline-block;
}

.page-head {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.page-content-leftside {
  border-right-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.page-content-leftside-item {
  border-right-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.introduction-item__thumnail {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  width: 120px;
  text-align : center;
}

$starFull: 16px;//星1個の幅
$starHalf: $starFull / 2;//星半分（0.5）の幅

$rate1: $starHalf;//星1
$rate1: $starFull;//星1
$rate1-5: $starFull + $starHalf;//星1.5
$rate2: $starFull * 2;//星2
$rate2-5: ($starFull * 2) + $starHalf;//星2.5
$rate3: $starFull * 3;//星3
$rate3-5: ($starFull * 3) + $starHalf;//星3.5
$rate4: $starFull * 4;//星4
$rate4-5: ($starFull * 4) + $starHalf;//星4.5
$rate5 :$starFull * 5;//星5

.rate{
  position: relative;
  display: inline-block;
  width: $starFull * 5;
  height: $starFull;
  font-size: $starFull;
  &:before,&:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: $starFull;
    line-height: $starFull;
  }
  &:before{
  color: #ddd;
  }
  &:after{
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;//これがないと改行されて星の半分（0.5）が表現できなくなる
  }
}
.rate0:after{//星0
  width: 0;
}
.rate1:after{//星1
  width: $rate1;
}
.rate1-5:after{//星1.5
  width: $rate1-5;
}
.rate2:after{//星2
  width: $rate2;
}
.rate2-5:after{//星2.5
  width: $rate2-5;
}
.rate3:after{//星3
  width: $rate3;
}
.rate3-5:after{//星3.5
  width: $rate3-5;
}
.rate4:after{//星4
  width: $rate4;
}
.rate4-5:after{//星4.5
  width: $rate4-5;
}
.rate5:after{//星5
  width: $rate5;
}


.wrap{
  width: 80px;
  margin: 0 auto;
}

.user-form {
  margin-right: auto;
  margin-left: auto;
}