@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
  li {
    display: block;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

li {
  display: block;
}
// .header-list {
//   // color: white !important;
//   // font-weight: bold;
// }

select {
  height: 34px;
}
.header-list:hover {
  color: white !important;
  font-weight: bold;
}

// .navbar-inverse .navbar-nav > .open > a:focus {
//   background-color: teal;
// }
  
li .list-label {
  background-color: lightgray;
  padding: 3px 20px;
}

.dropdown-menu:focus {
  background-color: teal;
}

.dropdown-menu:activate {
  background-color: teal;
}
/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  font-style: italic;
  letter-spacing: -1px;
  padding-top: 9px;
  /*font-weight: bold;*/
}

#logo:hover {
  color: gray;
  text-decoration: none;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// フォローボタン

.btn_left {
  border-radius: 10px 0px 0px 10px;
  border-width: 1px 0px 1px 1px;
  margin-right: -2px;
}

.btn_right {
  border-radius: 0px 10px 10px 0px;
  border-width: 1px 1px 1px 0px;
  margin-left: -2px;
}

.follow {
  transform:scale(1.5);
  vertical-align: middle;
}

.notfollow {
  transform:scale(1.5);
  vertical-align: middle;
}

// 紹介ページ

.introduction_title {
  border-bottom-style: solid;
  font-size: 30px;
  padding-top: 10px;
}

.introduction_caption {
  color: gray;
  font-size: 20px;
  font-style: italic;
  padding-top: 5px;
}

.introduction_search {
  padding-top: 20px;
}

// 共通
.page_title {
  display:inline-block;
}

.page-head {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.page-content-leftside {
  border-right-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.page-content-leftside-item {
  border-right-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.introduction-item__thumnail {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}