<!--楽天クレジット-->
<span style="margin:15px 15px 15px 15px">
  Supported by Rakuten Developers
</span>

<br>

<!--Yahoo!クレジット-->
<!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
<span style="margin:15px 15px 15px 15px"><a href="https://developer.yahoo.co.jp/about">Webサービス by Yahoo! JAPAN</a></span>
<!-- End Yahoo! JAPAN Web Services Attribution Snippet -->